# Copyright (C) 2020, 2022, Oracle and/or its affiliates.
# Licensed under the Universal Permissive License v 1.0 as shown at https://oss.oracle.com/licenses/upl.
build/_output
vendor
.idea
**/*.iml
dist/**
ATTRIBUTION-HELPER-DEPS
.trivyignore
coverage.html
grype-scan.sh
scanning-report-grype.json
scanning-report-trivy.json
summarize-scan-reports.sh
thirdparty_check.sh
trivy-scan.sh

