# Copyright (C) 2020, Oracle Corporation and/or its affiliates.
# Licensed under the Universal Permissive License v 1.0 as shown at https://oss.oracle.com/licenses/upl.
apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: vmo-oci-config
  namespace: default
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: verrazzano-monitoring-operator
  namespace: default
  labels:
    k8s-app: verrazzano-monitoring-operator
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    k8s-app: verrazzano-monitoring-operator
  name: verrazzano-monitoring-operator-cluster-role-default
rules:
  - apiGroups:
      - ""
    resources:
      - nodes
      - nodes/proxy
      - persistentvolumeclaims
      - services
      - configmaps
      - secrets
      - namespaces
      - endpoints
      - pods
    verbs:
      - get
      - list
      - watch
      - update
      - create
      - delete
  - apiGroups:
      - ""
    resources:
      - events
    verbs:
      - get
      - list
      - watch
      - create
      - patch
  # Following rule required to allow operator to grant Cirith "create" verb on "pods/exec"
  - apiGroups:
      - ""
    resources:
      - pods/exec
    verbs:
      - create
  # Following rule required to allow operator to grant Cirith "get" verb on "pods/log"
  - apiGroups:
      - ""
    resources:
      - pods/log
    verbs:
      - get
  - apiGroups:
      - apiextensions.k8s.io
    resources:
      - customresourcedefinitions
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - apps
    resources:
      - deployments
      - statefulsets
    verbs:
      - get
      - list
      - watch
      - create
      - update
      - delete
  - apiGroups:
      - rbac.authorization.k8s.io
    resources:
      - rolebindings
    verbs:
      - get
      - list
      - watch
      - update
      - create
      - delete
  - apiGroups:
      - rbac.authorization.k8s.io
    resources:
      - clusterroles
      - roles
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - extensions
    resources:
      - ingresses
    verbs:
      - get
      - list
      - watch
      - create
      - update
      - delete
  - apiGroups:
      - extensions
    resources:
      - jobs
    verbs:
      - get
      - list
      - watch
      - create
      - update
      - delete
  - apiGroups:
      - batch
    resources:
      - jobs
      - cronjobs
    verbs:
      - create
      - get
      - patch
      - update
      - delete
      - list
      - watch
  - apiGroups:
      - storage.k8s.io
    resources:
      - storageclasses
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - verrazzano.io
    resources:
      - verrazzanomonitoringinstances
    verbs:
      - get
      - list
      - watch
      - update
  - nonResourceURLs: ["/metrics"]
    verbs: ["get"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  labels:
    k8s-app: verrazzano-monitoring-operator
  name: verrazzano-monitoring-operator-cluster-role-binding-default
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: verrazzano-monitoring-operator-cluster-role-default
subjects:
  - kind: ServiceAccount
    name: verrazzano-monitoring-operator
    namespace: default
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  labels:
    k8s-app: verrazzano-monitoring-operator
  name: verrazzano-monitoring-operator-cluster-role-default-binding-default
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: verrazzano-monitoring-operator-cluster-role-default
subjects:
  - kind: ServiceAccount
    name: default
    namespace: default
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: vmi-cluster-role-default
rules:
  - apiGroups:
      - ""
    resources:
      - configmaps
      - secrets
    verbs:
      - get
      - list
      - watch
      - update
      - create
      - delete
  - apiGroups:
      - ""
    resources:
      - pods
    verbs:
      - get
      - list
      - watch
      - delete
  # Following rule required to grant Cirith "create" verb on "pods/exec"
  - apiGroups:
      - ""
    resources:
      - pods/exec
    verbs:
      - create
  - apiGroups:
      - ""
    resources:
      - pods/log
    verbs:
      - get
  - apiGroups:
      - "batch"
      - "extensions"
    resources:
      - jobs
    verbs:
      - get
      - list
      - watch
      - update
      - create
      - delete
  - apiGroups:
      - verrazzano.io
    resources:
      - verrazzanomonitoringinstances
    verbs:
      - get
      - list
      - watch
      - update
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: verrazzano-monitoring-operator-config
  namespace: default
  labels:
    app: verrazzano-monitoring-operator
data:
  config: |
    metricsPort: 8090
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: verrazzano-monitoring-operator
  namespace: default
  labels:
    k8s-app: verrazzano-monitoring-operator
spec:
  replicas: 1
  selector:
    matchLabels:
      k8s-app: verrazzano-monitoring-operator
  template:
    metadata:
      labels:
        k8s-app: verrazzano-monitoring-operator
    spec:
      containers:
      - name: verrazzano-monitoring-operator
        imagePullPolicy: Always
        image: container-registry.oracle.com/verrazzano/verrazzano-monitoring-operator:latest
        ports:
        - containerPort: 8080
          name: http
          protocol: TCP
        - containerPort: 8090
          name: metrics
          protocol: TCP
        livenessProbe:
          failureThreshold: 5
          httpGet:
            path: /health
            port: 8080
            scheme: HTTP
          initialDelaySeconds: 3
          periodSeconds: 10
          successThreshold: 1
          timeoutSeconds: 5
        args:
          - --v=4
          - --namespace=default
          - --watchNamespace=default
          - --watchVmi=
      serviceAccountName: verrazzano-monitoring-operator
---
apiVersion: v1
kind: Service
metadata:
  name: verrazzano-monitoring-operator
  namespace: default
  labels:
    k8s-app: verrazzano-monitoring-operator
spec:
  type: NodePort
  ports:
  - port: 8090
    targetPort: 8090
    name: metrics
  selector:
    k8s-app: verrazzano-monitoring-operator
